<% include ../partials/header %>

<div class="ui container">
    <h1>YOU'VE HIT THE NEW TIMESTAMP ROUTE</h1>
    <form action="/timestamp" method="POST" class="ui form" id="clock">
    <div class="ui input">
        <input type="text" name='employeeNumber' placeholder="ID#">
    </div>
        <button class="ui button" name="clock" value="in">Clock-In</button>
        <button class="ui button" name="clock" value="out">Clock-Out</button>
    </form>
</div>
<% if (timestamp) {%>
<% var inOrOut = timestamp.logIn? "in" : "out"; %>
<div class="ui container"> 
    <% if (!timestamp.inappropriate) {%>
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            All is good <%= employee.firstName %>!
        </div>
        <p>You successfully clocked <b> <%= inOrOut %>!</b></p>
    </div>
    <% } %>
    <% if (timestamp.inappropriate) {%>
    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">
            Warning, <%= employee.firstName %>!
        </div>
        <p>You  clocked <b><%= inOrOut %></b>, but <%= logState %></p>
    </div>
    <% } %>
</div>
<% } %>
<% include ../partials/footer %>